# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# SO
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*

# Secretos (NO subir credenciales)
src/main/resources/db.properties
*.env